/* PSEUDOCLASES */

p:hover {
    color: skyblue;
}

div p:nth-child(2){
    background-color: lime;
}

/* PSEUDOELEMNTOS */

p::first-letter {
    color: teal;
}

p::before {
    content: "🤔";
}

p::after {
    content: "🎉";
}

::placeholder {
    color: limegreen;
}